body{
    margin: 0px;
    padding: 0px;
    font-family: 'Dosis', sans-serif;
}
/* Header et Navigation */
.header{
    font-size: large;
    font-weight: bold;
    border-bottom: 5px solid black;
}
.logo{
    display: flex;
    margin-left: 100px;
}
h1{
    color: #076239;
    margin-left: 50px;
}
nav{
    width: 100%;
    margin-top: -30px;
}
nav > ul{
    margin: 0px;
    padding: 0px;
    padding-left: 221px;
}
nav > ul::after{
    content: "";
    display: block;
    clear: both;
}
nav li{
    list-style-type: none;
}
nav > ul > li{
    float: left;
    position: relative;
}
nav > ul > li > a{
    padding: 20px 30px;
    color: black;
}
.sous{
    display: none;
    border-radius: 10px;
}
nav a{
    display: inline-block;
    text-decoration: none;
}
nav li:hover .sous{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
    width: 200px;
    background-color: #eaeded;
}
.sous li{
    border-bottom: 5px solid #076239;
    border-radius: 10px;
    width: 100%;
}
.sous li:hover{
    background-color: #076239;
}
.sous li a{
    padding: 15px 30px;
    font-size: 13px;
    color: black;
    width: 270px;
}

/* Home Page */
/* Actus */
.actualites{
    background-color:  #e5e8e8;
    margin-top: -20px;
    padding-bottom: 40px;
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
}
h2{
    padding-top: 25px;
    margin-left: 15px;
    border-bottom: 2px solid #076239;
    width: 18.5%;
}
.last-actu{
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-direction: row;
}
.actu{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
    width: 350px;
}
.actu img{
    height: 160px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
h3{
    color: #076239;
}

/* Matchs SM1 */
.matchs-sm1{
    background-color: black;
    margin-top: -20px;
    padding-bottom: 50px;
}
.matchs-sm1 h2{
    color: white;
    width: 11.7%;
}
.matchs-sm1 h3{
    margin-left: 10px;
}
.last-match{
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-direction: row;
}
.dernier-match{
    margin-bottom: 25px;
}
.annonce{
    display: flex;
}
.annonce img{
    max-height: 180px;
}
.stats{
    text-align: center;
    margin-top: 30px;
}
.actu a{
    background-color: #076239;
    color: white;
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    padding: 5px;
}
.actu p{
    text-align: center;
}

/* Matchs we */
.matchs-we{
    background-color: #e5e8e8;
    margin-top: -20px;
    padding-bottom: 50px;
}
.matchs-we h2{
    width: 16%;
}
.matchs-we h3{
    margin-left: 10px;
}
.we-matchs{
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-direction: row;
}
.domicile, .exterieur{
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
    width: 350px;
}
.matchs-we p{
    text-align: center;
}
.matchs-equipe{
    margin-top: -10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #076239;
}

/* Partenaires majeurs */
.partenaires-majeurs{
    padding-bottom: 30px;
}
.partenaires-majeurs h2{
    width: 15.3%;
}
.images-partenaires{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.images-partenaires img{
    height: 20%;
    width: 20%;
}
article{
    cursor: auto;
}

/* Footer */
footer{
    background-color: #eaeded;
    display: flex;
    justify-content: space-around;
    text-align: left;
}
footer a{
    text-decoration: none;
    color: black;
}
.contact-adresse p, .contact-telephone p, .contact-mail p{
    margin-top: -20px;
    margin-left: 20px;
}
.fa-map-marker-alt, .fa-phone, .fa-envelope-square, .fa-clock, .fa-calendar-alt{
    color: #076239;
}
.reseaux-photo a{
    padding-left: 20px;
}
.reseaux img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

/* //////////////////////////////////////////// */
/* Page équipe NM3 */
.titre-nm3{
    text-align: center;
    margin-left: 500px;
    margin-bottom: 40px;
}
.photo-equipe-nm3{
    text-align: center;
    border-bottom: 5px solid black;
    padding-bottom: 50px;
}
.photo-equipe-nm3 img{
    height: 400px;
    margin-top: 25px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
}
.photo-equipe-nm3 h2{
    text-align: center;
    margin-left: 500px;
}
.effectif{
    border-bottom: 5px solid black;
    background-color: #e5e8e8;
    margin-top: -20px;
}
.block-joueur{
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
}
.joueur{
    width: 90%;
    height: 500px;
    margin-bottom: 80px;
    padding: 10px;
}
.joueur img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
}
.joueur-texte{
    background-color: #f2f4f4;
    text-align: center;
    margin-top: -4px;
    padding-bottom: 4px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
}
.joueur-texte h3{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.calendrier{
    padding: 20px;
    border-bottom: 5px solid black;
}
.calendrier img{
    width: 10%;
    height: 200px;
}

/* Page équipe Autre */
.equipe{
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-direction: row;
    border-bottom: 5px solid black;
    background-color:  #f2f4f4;
}
.photo-equipe{
    text-align: center;
}
.photo-equipe img{
    height: 400px;
    margin-top: 25px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
}
.photo-equipe h2{
    text-align: center;
}
.effectif-equipe-autre{
    background-color: #e5e8e8;
    box-shadow: 1px 1px 10px hsl(0, 2%, 74%);
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
}
.effectif-equipe-autre p{
    margin-top: -40px;
    margin-left: 80px;
}

/* /////////////////////////////////////// */
/* Devenir partenaire */
.presentation h2{
    width: 14%;
}
.devenir-partenaire{
    margin: 30px;
}
.devenir-partenaire p{
    font-size: 20px;
}
.devenir-partenaire p strong{
    color: #076239;
    font-size: 50px;
}